<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--
            <h1>if condition</h1>
        {% if a > b %}
        <h1>a is greater than b</h1>
        {% endif %}
        

        <h1>if-else condition</h1>
        {% if a > b %}
        <h1>a is greater than b</h1>
        {% else %}
        <h1>b is greater than a</h1>
        {% endif %}
        

        <h1>if-elif condition</h1>
        {% if a > b and a > c %}
        <h1>a is greater b and c</h1>
        {% elif b > c %}
        <h1>b is greater than c</h1>
        {% else %}
        <h1>c is gretaer than a and b</h1>
        {% endif %}
        -->
        <h1>Nested if condition</h1>
        {% if a > b %}
                {% if a > c %}
                    <h1>a i max</h1>
                {% else %}
                    <h1>c is max</h1>
                {% endif %}
        {% else %}
                {% if b > c %}
                    <h1>b is max</h1>
                {% else %}
                    <h1>c is max</h1>
                {% endif %}
        {% endif %}

    </center>
</body>
</html>